.solid-log-viewer-wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.search-bar input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.search-bar button {
  margin-left: 8px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 3px;
}

.search-bar button:hover {
  background-color: #e0e0e0;
}

.log-container {
  position: relative;
  font-family: monospace;
  font-size: 14px;
}

.log-item {
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.log-item:hover {
  background-color: #f9f9f9;
}

.timestamp {
  margin-right: 10px;
  color: #888;
  text-wrap: nowrap;
}

.message {
  flex-grow: 1;
  text-wrap: nowrap;
}

.placeholder,
.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #777;
  font-family: sans-serif;
}

.loading-indicator {
}